body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.weather-today {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.temperature {
    display: flex;
    justify-content: space-between;
}

.conditions {
    margin-top: 10px;
}

.weather-forecast {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px; 

}

.centered-content {
    text-align: center;
}

.custom-header {
    font-weight: bold; 
    font-size: 35px;
    font-family: 'SuaFonteChamativa', sans-serif; 
    -webkit-text-stroke: 1px black; 
    color: #ffffff;
    margin: 0px; /* Nenhuma margem acima ou abaixo dos elementos <p> */

    margin-top: 9px; /* Remova o espaçamento superior (margem) */     
  }

  .custom-background {
    --background: url('../weather-details/Tentativa1.png') no-repeat center center fixed;
    --background-size: cover;
    background: var(--background);
  }
  
  

  .temperature-row {
    display: flex;
  }
  
  .temperature-col {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza horizontalmente os elementos dentro do ion-col */
  }
  
  .max-temperature,
  .min-temperature {
    margin: 0 10px; /* Espaçamento horizontal de 10px entre os elementos */
  }
  
  .weather-description {
    margin-bottom: -5px; /* Adicione um espaçamento na parte inferior do elemento <p> */
  }

  .temp-center {
    margin-top: 8px;
    margin-bottom: -10px; /* Adicione um espaçamento na parte inferior do elemento <p> */
  }
  
  .white-text {
    color: white;
  }
  
  .text-end {
    text-align: end;
    margin-bottom: 10px;
  }

  .hora-col {
    font-weight: bold; 
  margin: 0px; /* Nenhuma margem acima ou abaixo da coluna */
}

.max-dia {
    margin: 0px; /* Nenhuma margem acima ou abaixo dos elementos <p> */
}
.min-hora {
  margin: -19px; /* Nenhuma margem acima ou abaixo dos elementos <p> */
  margin-left: 200px;
}
  

.hide-back-text .button-text {
    display: none;
    background: white;
  }
  