<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ info?.city.name }}</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="info">
    <ion-card-content>
      <ion-row class="caixa-menor">
        <ion-col size="auto">
          <ion-img [src]="getWeatherIcon(info?.list[0].weather[0].icon)" alt="Condição do Tempo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-title>{{ (info?.list[0].main.temp - 273.15) | number: '1.0-0' }}°C</ion-title>
      <ion-card-subtitle>{{ info?.list[0].weather[0].description }}</ion-card-subtitle>
      <!-- Outras informações do clima aqui -->
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let forecast of info?.list">
      <ion-img [src]="getWeatherIcon(forecast?.weather[0]?.icon)" slot="start"></ion-img>
      <ion-label>
        <h3>{{ forecast?.dt_txt | date: 'dd/MM/yyyy HH:mm' }}</h3>
        <p>{{ forecast?.main?.temp - 273.15| number: '1.0-0' }}°C</p>
        <p>{{ forecast?.weather[0]?.description }}</p>
        <p>Umidade: {{ forecast?.main?.humidity }}%</p>
        <p>Nível do mar: {{ forecast?.main?.sea_level }}</p>
        <p>Temperatura máxima: {{ forecast?.main?.temp_max - 273.15}}°C</p>
        <p>Temperatura mínima: {{ forecast?.main?.temp_min - 273.15}}°C</p>
        <p>Velocidade do vento: {{ forecast?.wind?.speed }} m/s</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
